
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@section Scripts {
    <script type="module" src="~/js/adminScripts/productScripts/deleteProduct.js"></script>
}

